@using Microsoft.AspNetCore.Identity

@inject UserManager<IssueTrackerUser> UserManager

@{
    IssueTrackerUser user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Issue Tracker</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTETemplate/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/AdminLTETemplate/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTETemplate/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/AdminLTETemplate/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTETemplate/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTETemplate/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTETemplate/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTETemplate/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <!--<div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>-->

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link">
                
                <span class="brand-text font-weight-light">Issue Tracker</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @if (user != null)
                {
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <!--<div class="image">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="Icon">
                        </div>-->

                        <div class="info">
                            <p style="color:white; padding:0px; margin: 0px">Logged in as:</p>

                            <a href="" class="d-block">@user.FullName</a>


                        </div>
                        
                    </div>
                } else {
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="justify-content:space-between">
                        <!--<div class="image">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="Icon">
                        </div>-->

                        <div class="info">
                            <p style="color:white; padding:0px; margin: 0px">Not Logged In</p>


                        </div>
                        <div style="padding-right:5px">
                            <form method="get">
                                <input type="submit" class="btn btn-success" asp-area="Identity" asp-page="/Account/Login" asp-controller="Home" value="Login" />
                            </form>

                        </div>
                    </div>
                }

                <!-- SidebarSearch Form -->
                <!--
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>-->

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Dashboard" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a asp-controller="Companies" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa fa-building"></i>
                                <p>
                                    Company
                                </p>
                            </a>
                        </li>-->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Projects
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="MyProjects" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>My Projects</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="AllProjects" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All Projects</p>
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="UnassignedProjects" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Unassigned Projects</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="ArchivedProjects" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Archived Projects</p>
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>New Project</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Tickets
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="MyTickets" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>My Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="AllTickets" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="ArchivedTickets" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Archived Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a  asp-controller="Tickets" asp-action="UnassignedTickets" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Unassigned Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>New Ticket</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        
                       
                    </ul>
                </nav>
                <div style="bottom:12px; right:12px; position:absolute;">
                    <form method="post">
                        <input type="submit" class="btn btn-danger" asp-controller="Home" asp-action="Logout" value="Logout" />
                    </form>

                </div>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content" style="color:black">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <p>Base template from <a href="https://adminlte.io">AdminLTE.io</a>.</p>
            
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>


    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTETemplate/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTETemplate/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTETemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/AdminLTETemplate/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/AdminLTETemplate/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/AdminLTETemplate/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/AdminLTETemplate/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/AdminLTETemplate/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/AdminLTETemplate/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTETemplate/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/AdminLTETemplate/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/AdminLTETemplate/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTETemplate/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTETemplate/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!--<script src="~/AdminLTETemplate/dist/js/demo.js"></script>-->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/AdminLTETemplate/dist/js/pages/dashboard.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
